@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=IBM+Plex+Sans+Arabic:wght@600&family=Nosifer&family=Noto+Sans+Arabic&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.translate-z-0 {
  transform: translateZ(0px);
}
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  background-color: #f13024;
}

.swiper-button-next:after,
.swiper-button-prev:after,
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  color: #f13024;
}

@layer base {
  body {
    @apply bg-white overflow-y-auto leading-relaxed select-none font-cairo;
  }
  .page {
    @apply w-full h-screen overflow-auto;
  }
  .h1 {
    @apply text-[25px] leading-tight md:text-[60px] md:leading-[1.3] mb-8 font-semibold;
  }
  .h2 {
    @apply text-[25px] text-balance leading-tight md:text-[54px] md:leading-[1.3] mb-4 font-semibold;
  }
  .p {
    @apply leading-[1.8] text-white/60 font-light text-xs;
  }
  .btn,
  .input {
    @apply h-[52px];
  }
  .input {
    @apply w-full h-[52px] rounded-lg pl-6 capitalize;
  }
  .input,
  .textarea {
    @apply bg-transparent outline-none focus:ring-1 focus:ring-accent border border-white/20 placeholder:text-white/30 placeholder:font-light;
  }
  .textarea {
    @apply w-full h-[180px] p-6 capitalize rounded-lg resize-none;
  }
  .card {
    @apply relative text-center text-xl text-[#2f3b3a] font-normal bg-[#01a896] min-h-[25vh] p-5 rounded-3xl my-5 cursor-pointer
    hover:opacity-100 opacity-90 pb-0 hover:z-40; 
  }
  .card2 {
    @apply text-center text-[#2f3b3a] font-normal bg-transparent min-h-[25vh] p-5 pb-0 pl-0 pr-0 rounded-3xl 
    my-5 cursor-pointer group-hover:text-white border-2 border-blue-300 hover:shadow-xl shadow-black;
  }
  .box {
    @apply py-5 border-2 border-blue-500 text-center text-sm font-semibold bg-white text-black rounded-full
    xl:px-10 px-5 cursor-pointer; 
  }
  .text {
    @apply flex items-center justify-center gap-4 border-2 border-[#01a896] rounded-3xl p-3 transition duration-300 hover:bg-[#01a896]
    hover:text-white ;
  }
}

